div.background
  {
  width:1280px;
  height:960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background:url(doge.jpg) no-repeat;
  border:2px solid black;
  }
div.transbox
  {
  font-family: cursive;
  text-align: center; 
  margin: 30px 50px;
  background-color:#fff4c7;
  border:1px solid black;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
div.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }
